.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(
    255,
    235,
    235,
    0.9
  ); /* Slightly darker red-ish transparent background */
  color: #333; /* Dark text */
  border-radius: 8px;
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.connect-button {
  background-color: #e53935; /* Angular red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.connect-button:hover {
  background-color: #c62828; /* Darker red on hover */
}

.account-id {
  font-size: 1.2em;
}

.metadata-button {
  background-color: #e53935; /* Angular red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.metadata-button:hover {
  background-color: #c62828; /* Darker red on hover */
}

.token-info {
  background-color: #fff; /* White background */
  padding: 15px;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border: 1px solid rgba(229, 57, 53, 0.5); /* Subtle red border */
}

.token-info p {
  margin: 10px 0;
}

.transfer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.transfer-label {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.input-field {
  background-color: #fff; /* White background */
  color: #333; /* Dark text */
  border: 1px solid #ccc; /* Lighter border color */
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 97%;
}

.send-button {
  background-color: #e53935; /* Angular red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 100%;
}

.send-button:hover {
  background-color: #c62828; /* Darker red on hover */
}
